

<div id ="nav-bar" class="nav-bar" >
    <div id = "codingButton" class="fill" (click) = "changeState('coding')" >

        <img id = "codingicon" class = "icon" src="coding.png" alt="">

        <img id = "selectedcoding" class = "selected-icon" src = "selectedcoding.png" alt="">

        <div class="heading">Coding</div>

    </div>

    <div id = "multiplechoiceButton" class="fill" (click) = "changeState('multiplechoice')" >

        <img id = "multiplechoiceicon" class = "icon" src="multiplechoice.png" alt="">

        <img id = "selectedmultiplechoice" class = "selected-icon" src = "selectedmultiplechoice.png" alt="">

        <div class="heading">Multiple Choice</div>

    </div>

    <div id = "writtenButton" class="fill" (click) = "changeState('written')" >

        <img id = "writtenicon" class = "icon" src="writing.png" alt="">

        <img id = "selectedwritten" class = "selected-icon" src = "selectedwriting.png" alt="">

        <div class="heading">Written</div>

    </div>
</div>

